In [13]:
import pandas as pd

# Load the dataset
file_path = 'Dealer_Dataset.xlsx'  # Update with your file path
xls = pd.ExcelFile(file_path)

# Load the Sales and Salesmen DataFrames
sales_df = pd.read_excel(xls, sheet_name='Sales')
salesmen_df = pd.read_excel(xls, sheet_name='Salesmen')

# Calculate total sales, average sale price, and total profit per salesman
sales_performance = sales_df.groupby('salesman_id').agg(
    total_sales=('Sale Price', 'sum'),
    average_sale_price=('Sale Price', 'mean'),
    total_profit=('Profit', 'sum')
).reset_index()

# Merge with the Salesmen DataFrame to get the salesman's name
sales_performance = sales_performance.merge(salesmen_df[['salesman_id', 'name']], on='salesman_id')

# Display the results
print(sales_performance)

    salesman_id  total_sales  average_sale_price  total_profit  \
0             1   1541726.95        21714.464085     338314.80
1             2   1656742.75        20709.284375     314992.05
2             3   1740834.70        20009.594253     351331.30
3             4   1622801.55        17832.984066     193920.70
4             5   1243435.25        20055.407258     230624.50
5             6   1707740.25        19188.092697     314182.25
6             7   1871077.50        22012.676471     311992.15
7             8   1731896.50        19680.642045     317687.95
8             9   1807799.50        20086.661111     413378.05
9            10   1706316.20        21598.939241     300078.60
10           11   1703005.75        19134.896067     376218.45
11           12   1913832.55        21503.736517     370746.35

                name
0         John Smith
1       Alex Johnson
2   Michael Williams
3        Sarah Jones
4      Jessica Brown
5        Chris Davis
6       David Miller
7      Daniel Wilson
8       Sophia Moore
9       Emily Taylor
10  Matthew Anderson
11     Andrew Thomas

In [14]:
# Calculate total profit per vehicle make and model
profitability_analysis = sales_df.groupby(['Make', 'Model']).agg(
    total_profit=('Profit', 'sum'),
    total_sales=('Sale Price', 'sum'),
    average_sale_price=('Sale Price', 'mean')
).reset_index()

# Sort the results by total profit in descending order
profitability_analysis = profitability_analysis.sort_values(by='total_profit', ascending=False)

# Display the results
print(profitability_analysis)

             Make       Model  total_profit  total_sales  average_sale_price
64          Tesla     Model 3     168147.00   1016071.00        35036.931034
53  Mercedes-Benz     E-Class      85779.20    420919.65        19132.711364
23           Ford       Focus      84938.35    219583.70        14638.913333
58         Nissan       Rogue      84016.75    352961.25        23530.750000
0           Acura         ILX      81333.00    478317.00        26573.166667
..            ...         ...           ...          ...                 ...
2           Acura         RDX      13385.00    265128.75        24102.613636
33       Infiniti        QX60      13149.00    566384.00        35399.000000
65          Tesla     Model S       7197.00    254266.00        23115.090909
35       Infiniti        QX80        489.00    272079.00        30231.000000
57         Nissan  Pathfinder     -19721.70    158046.50        14367.863636

[79 rows x 5 columns]

In [17]:
# Load the Sales and Customers DataFrames
sales_df = pd.read_excel(xls, sheet_name='Sales')
customers_df = pd.read_excel(xls, sheet_name='Customers')

# Merge the Sales DataFrame with the Customers DataFrame
customer_sales_analysis = sales_df.merge(customers_df, left_on='Customer ID', right_on='customer_id')

# Group by vehicle make and model, and calculate average credit score and annual income
customer_insights = customer_sales_analysis.groupby(['Make', 'Model']).agg(
    average_credit_score=('credit_score', 'mean'),
    average_annual_income=('annual_income', 'mean'),
    total_sales=('Sale Price', 'sum'),
    total_profit=('Profit', 'sum')
).reset_index()

# Sort the results by total sales in descending order
customer_insights = customer_insights.sort_values(by='total_sales', ascending=False)

# Display the results
print(customer_insights)

             Make     Model  average_credit_score  average_annual_income  \
64          Tesla   Model 3            586.241379           75363.275862
55  Mercedes-Benz       GLE            570.692308           75434.307692
34       Infiniti      QX70            608.923077           76735.153846
33       Infiniti      QX60            559.187500           67755.625000
32       Infiniti       Q50            561.166667           65156.000000
..            ...       ...                   ...                    ...
68         Toyota   Corolla            614.571429           80446.857143
24          Honda    Accord            568.076923           82417.538462
50          Mazda    Mazda3            618.000000           68354.857143
63         Subaru   Outback            542.166667           83888.666667
29        Hyundai  Santa Fe            560.428571           81917.857143

    total_sales  total_profit
64   1016071.00     168147.00
55    675252.00      71469.00
34    572719.00      15558.00
33    566384.00      13149.00
32    489832.00      31200.00
..          ...           ...
68    117286.25      29225.35
24    115404.60      41348.15
50    101359.80      29968.20
63     89999.00      24434.50
29     68679.05      29986.10

[79 rows x 6 columns]

In [18]:
# Load the Sales DataFrame
sales_df = pd.read_excel(xls, sheet_name='Sales')

# Convert 'Sale Date' to datetime format
sales_df['Sale Date'] = pd.to_datetime(sales_df['Sale Date'])

# Extract year and month from the sale date
sales_df['Year'] = sales_df['Sale Date'].dt.year
sales_df['Month'] = sales_df['Sale Date'].dt.month

# Group by year and month to analyze sales trends
sales_trends = sales_df.groupby(['Year', 'Month']).agg(
    total_sales=('Sale Price', 'sum'),
    total_profit=('Profit', 'sum'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Display the results
print(sales_trends)

    Year  Month  total_sales  total_profit  number_of_sales
0   2014      1    285696.95     -21182.90               24
1   2014      2    306143.30      75692.30               17
2   2014      3    225407.35       1638.75               18
3   2014      4    348483.10     -61043.60               22
4   2014      5    330244.25      74003.55               23
5   2014      6    273756.20     -13168.10               22
6   2014      7    291764.55      52977.25               20
7   2014      8    259155.70      74354.65               17
8   2014      9    244844.95      93692.65               16
9   2014     10    379844.60      87831.45               28
10  2014     11    343640.10      47956.70               17
11  2014     12    329123.05      -9990.55               21
12  2015      1    305654.30      41591.15               18
13  2015      2    669065.10     166394.95               38
14  2015      3    389344.45     112740.45               30
15  2015      4    581387.30     140174.35               32
16  2015      5    344123.00     113197.60               26
17  2015      6    607879.50     138139.35               29
18  2015      7    437659.55     111055.90               26
19  2015      8    461586.65     108909.50               23
20  2015      9    492671.80      83400.15               20
21  2015     10    273443.65      74533.15               15
22  2015     11    656417.55     173881.65               30
23  2015     12    294432.05      88871.25               20
24  2016      1    926407.95     176070.05               41
25  2016      2    717338.00     130641.35               27
26  2016      3    948402.25     207384.30               42
27  2016      4    992704.80     204395.50               46
28  2016      5    962625.85     183031.50               37
29  2016      6    841346.95     154814.90               34
30  2016      7    677916.80     140358.75               29
31  2016      8   1067783.10     190204.70               37
32  2016      9   1158639.60     205551.25               45
33  2016     10    921026.55     167366.40               42
34  2016     11    876106.95     128194.90               32
35  2016     12   1025141.65     189801.95               36

In [19]:
# Group by days on lot and calculate total profit and number of sales
days_on_lot_analysis = sales_df.groupby('days_on_lot').agg(
    total_profit=('Profit', 'sum'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Calculate average profit per sale for each days on lot
days_on_lot_analysis['average_profit_per_sale'] = days_on_lot_analysis['total_profit'] / days_on_lot_analysis['number_of_sales']

# Display the results
print(days_on_lot_analysis)

    days_on_lot  total_profit  number_of_sales  average_profit_per_sale
0             1      52392.30               13              4030.176923
1             2      42760.65               10              4276.065000
2             3      50133.15               11              4557.559091
3             4      74190.45               12              6182.537500
4             5      85798.20               19              4515.694737
..          ...           ...              ...                      ...
85           86      55178.95               12              4598.245833
86           87      13069.85               14               933.560714
87           88      64849.45               14              4632.103571
88           89      41085.30                9              4565.033333
89           90      59841.10               13              4603.161538

[90 rows x 4 columns]

In [20]:
# Merge the Sales DataFrame with the Customers DataFrame
customer_sales_analysis = sales_df.merge(customers_df, left_on='Customer ID', right_on='customer_id')

# Group by vehicle make and model, and calculate average demographics
customer_demographics = customer_sales_analysis.groupby(['Make', 'Model']).agg(
    average_credit_score=('credit_score', 'mean'),
    average_annual_income=('annual_income', 'mean'),
    average_debt_to_income_ratio=('debt_to_income_ratio', 'mean'),
    total_sales=('Sale Price', 'sum'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Sort the results by total sales in descending order
customer_demographics = customer_demographics.sort_values(by='total_sales', ascending=False)

# Display the results
print(customer_demographics)

             Make     Model  average_credit_score  average_annual_income  \
64          Tesla   Model 3            586.241379           75363.275862
55  Mercedes-Benz       GLE            570.692308           75434.307692
34       Infiniti      QX70            608.923077           76735.153846
33       Infiniti      QX60            559.187500           67755.625000
32       Infiniti       Q50            561.166667           65156.000000
..            ...       ...                   ...                    ...
68         Toyota   Corolla            614.571429           80446.857143
24          Honda    Accord            568.076923           82417.538462
50          Mazda    Mazda3            618.000000           68354.857143
63         Subaru   Outback            542.166667           83888.666667
29        Hyundai  Santa Fe            560.428571           81917.857143

    average_debt_to_income_ratio  total_sales  number_of_sales
64                      0.398648   1016071.00               29
55                      0.404447    675252.00               13
34                      0.300357    572719.00               13
33                      0.499820    566384.00               16
32                      0.506114    489832.00               18
..                           ...          ...              ...
68                      0.340899    117286.25                7
24                      0.390347    115404.60               13
50                      0.411716    101359.80                7
63                      0.398673     89999.00                6
29                      0.420029     68679.05                7

[79 rows x 7 columns]

In [21]:
# Group by add-ons and calculate total sale price and total profit
add_ons_impact = sales_df.groupby('add_ons').agg(
    total_sales=('Sale Price', 'sum'),
    total_profit=('Profit', 'sum'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Calculate average sale price and average profit for each add-on category
add_ons_impact['average_sale_price'] = add_ons_impact['total_sales'] / add_ons_impact['number_of_sales']
add_ons_impact['average_profit'] = add_ons_impact['total_profit'] / add_ons_impact['number_of_sales']

# Display the results
print(add_ons_impact)

     add_ons  total_sales  total_profit  number_of_sales  average_sale_price  \
0          1     11318.05       2017.15                2            5659.025
1          4      5030.75        780.50                1            5030.750
2          8      3529.00       1163.50                1            3529.000
3         11      4988.85        989.15                1            4988.850
4         13     11116.00       1370.00                1           11116.000
..       ...          ...           ...              ...                 ...
770     1986     51605.00      -2620.00                2           25802.500
771     1991     40996.00       7415.00                1           40996.000
772     1996     56183.00       3931.00                1           56183.000
773     1997     19372.00       7457.00                1           19372.000
774     1998     33871.00       6114.00                1           33871.000

     average_profit
0          1008.575
1           780.500
2          1163.500
3           989.150
4          1370.000
..              ...
770       -1310.000
771        7415.000
772        3931.000
773        7457.000
774        6114.000

[775 rows x 6 columns]

In [22]:
# Load the Sales DataFrame
sales_df = pd.read_excel(xls, sheet_name='Sales')

# Group by make and model and calculate average days on lot and average sale price
time_to_sale_analysis = sales_df.groupby(['Make', 'Model']).agg(
    average_days_on_lot=('days_on_lot', 'mean'),
    average_sale_price=('Sale Price', 'mean'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Display the results
print(time_to_sale_analysis)

          Make   Model  average_days_on_lot  average_sale_price  \
0        Acura     ILX            47.055556        26573.166667
1        Acura     MDX            42.166667        14044.308333
2        Acura     RDX            39.909091        24102.613636
3        Acura     TLX            53.538462        32359.923077
4         Audi      A4            36.857143        11596.742857
..         ...     ...                  ...                 ...
74  Volkswagen  Tiguan            31.933333        19452.350000
75       Volvo     S60            39.272727        25058.113636
76       Volvo     V60            44.666667        38199.222222
77       Volvo    XC60            44.937500        25472.437500
78       Volvo    XC90            37.777778        12798.772222

    number_of_sales
0                18
1                12
2                11
3                13
4                14
..              ...
74               15
75               11
76                9
77               16
78               18

[79 rows x 5 columns]

In [23]:
# Group by payment method and calculate total sales, total profit, and average profit margin
payment_method_analysis = sales_df.groupby('payment_method').agg(
    total_sales=('Sale Price', 'sum'),
    total_profit=('Profit', 'sum'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Calculate average profit margin for each payment method
payment_method_analysis['average_profit_margin'] = payment_method_analysis['total_profit'] / payment_method_analysis['total_sales']

# Display the results
print(payment_method_analysis)

  payment_method  total_sales  total_profit  number_of_sales  \
0      Financing  20247209.45    3833467.15             1000

   average_profit_margin
0               0.189333

In [24]:

# Convert 'Sale Date' to datetime format
sales_df['Sale Date'] = pd.to_datetime(sales_df['Sale Date'])

# Extract month and year from the sale date
sales_df['Year'] = sales_df['Sale Date'].dt.year
sales_df['Month'] = sales_df['Sale Date'].dt.month

# Group by year and month to analyze seasonal trends
seasonal_trends = sales_df.groupby(['Year', 'Month']).agg(
    total_sales=('Sale Price', 'sum'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Find the peak sales month
peak_sales_month = seasonal_trends.loc[seasonal_trends['total_sales'].idxmax()]

# Display the results
print("Seasonal Trends:")
print(seasonal_trends)
print("\nPeak Sales Month:")
print(peak_sales_month)

Seasonal Trends:
    Year  Month  total_sales  number_of_sales
0   2014      1    285696.95               24
1   2014      2    306143.30               17
2   2014      3    225407.35               18
3   2014      4    348483.10               22
4   2014      5    330244.25               23
5   2014      6    273756.20               22
6   2014      7    291764.55               20
7   2014      8    259155.70               17
8   2014      9    244844.95               16
9   2014     10    379844.60               28
10  2014     11    343640.10               17
11  2014     12    329123.05               21
12  2015      1    305654.30               18
13  2015      2    669065.10               38
14  2015      3    389344.45               30
15  2015      4    581387.30               32
16  2015      5    344123.00               26
17  2015      6    607879.50               29
18  2015      7    437659.55               26
19  2015      8    461586.65               23
20  2015      9    492671.80               20
21  2015     10    273443.65               15
22  2015     11    656417.55               30
23  2015     12    294432.05               20
24  2016      1    926407.95               41
25  2016      2    717338.00               27
26  2016      3    948402.25               42
27  2016      4    992704.80               46
28  2016      5    962625.85               37
29  2016      6    841346.95               34
30  2016      7    677916.80               29
31  2016      8   1067783.10               37
32  2016      9   1158639.60               45
33  2016     10    921026.55               42
34  2016     11    876106.95               32
35  2016     12   1025141.65               36

Peak Sales Month:
Year                  2016.0
Month                    9.0
total_sales        1158639.6
number_of_sales         45.0
Name: 32, dtype: float64

In [25]:
# Group by salesman and calculate performance metrics
salesperson_performance = sales_df.groupby('salesman_id').agg(
    total_sales=('Sale Price', 'sum'),
    average_sale_price=('Sale Price', 'mean'),
    total_profit=('Profit', 'sum'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Merge with the Salesmen DataFrame to get the salesman's name
salesperson_performance = salesperson_performance.merge(salesmen_df[['salesman_id', 'name']], on='salesman_id')

# Display the results
print(salesperson_performance)

    salesman_id  total_sales  average_sale_price  total_profit  \
0             1   1541726.95        21714.464085     338314.80
1             2   1656742.75        20709.284375     314992.05
2             3   1740834.70        20009.594253     351331.30
3             4   1622801.55        17832.984066     193920.70
4             5   1243435.25        20055.407258     230624.50
5             6   1707740.25        19188.092697     314182.25
6             7   1871077.50        22012.676471     311992.15
7             8   1731896.50        19680.642045     317687.95
8             9   1807799.50        20086.661111     413378.05
9            10   1706316.20        21598.939241     300078.60
10           11   1703005.75        19134.896067     376218.45
11           12   1913832.55        21503.736517     370746.35

    number_of_sales              name
0                71        John Smith
1                80      Alex Johnson
2                87  Michael Williams
3                91       Sarah Jones
4                62     Jessica Brown
5                89       Chris Davis
6                85      David Miller
7                88     Daniel Wilson
8                90      Sophia Moore
9                79      Emily Taylor
10               89  Matthew Anderson
11               89     Andrew Thomas

In [26]:
# Calculate total number of sales
total_sales = sales_df['sale id'].nunique()

# Assuming you have a separate inventory DataFrame with average inventory data
# You can either create a mock inventory value or load it from another source
# For demonstration, let's assume the average inventory is a known value
average_inventory = 100  # Replace with actual average inventory if available

# Calculate inventory turnover rate
inventory_turnover_rate = total_sales / average_inventory

# Display the results
print(f"Inventory Turnover Rate: {inventory_turnover_rate:.2f}")

Inventory Turnover Rate: 10.00

In [27]:
# Group by vehicle make and model and calculate total sales and total profit
profit_margin_analysis = sales_df.groupby(['Make', 'Model']).agg(
    total_sales=('Sale Price', 'sum'),
    total_profit=('Profit', 'sum'),
    number_of_sales=('sale id', 'count')
).reset_index()

# Calculate profit margin for each make and model
profit_margin_analysis['profit_margin'] = profit_margin_analysis['total_profit'] / profit_margin_analysis['total_sales']

# Sort by profit margin in descending order
profit_margin_analysis = profit_margin_analysis.sort_values(by='profit_margin', ascending=False)

# Display the results
print(profit_margin_analysis)

          Make       Model  total_sales  total_profit  number_of_sales  \
29     Hyundai    Santa Fe     68679.05      29986.10                7
13   Chevrolet      Malibu    122713.75      47943.00               13
23        Ford       Focus    219583.70      84938.35               15
26       Honda       Civic    133173.45      48191.70               17
72  Volkswagen       Jetta    154759.65      55761.40               16
..         ...         ...          ...           ...              ...
65       Tesla     Model S    254266.00       7197.00               11
34    Infiniti        QX70    572719.00      15558.00               13
33    Infiniti        QX60    566384.00      13149.00               16
35    Infiniti        QX80    272079.00        489.00                9
57      Nissan  Pathfinder    158046.50     -19721.70               11

    profit_margin
29       0.436612
13       0.390690
23       0.386815
26       0.361872
72       0.360310
..            ...
65       0.028305
34       0.027165
33       0.023216
35       0.001797
57      -0.124784

[79 rows x 6 columns]

In [28]:
# Group by customer ID to count the number of purchases and get total sales
customer_retention_analysis = sales_df.groupby('Customer ID').agg(
    total_purchases=('sale id', 'count'),
    total_spent=('Sale Price', 'sum')
).reset_index()

# Identify repeat customers (more than one purchase)
repeat_customers = customer_retention_analysis[customer_retention_analysis['total_purchases'] > 1]

# Merge with Customer Data if available for additional insights
customers_df = pd.read_excel(xls, sheet_name='Customers')  # Load customers data
repeat_customers = repeat_customers.merge(customers_df, left_on='Customer ID', right_on='customer_id', how='left')

# Display the results
print(repeat_customers[['Customer ID', 'total_purchases', 'total_spent', 'credit_score', 'annual_income']])

     Customer ID  total_purchases  total_spent  credit_score  annual_income
0              3                2     40387.20           309          74113
1              8                2     21202.35           614         113227
2             17                2     34146.75           399          85167
3             23                2     16411.50           844          31004
4             26                2     44757.00           451          51227
..           ...              ...          ...           ...            ...
135          812                2     23725.50           341          36949
136          813                2     46538.00           774          44343
137          832                2     71586.00           585          57581
138          833                2     12258.00           458          81454
139          839                2     37243.00           771          63979

[140 rows x 5 columns]